<tr>
  <td><%= link_to board.title, board_path(board) %></td>
  <td><%= l board.created_at, format: :long %></td>
  <td>
    <%= link_to edit_board_path(board), id: "button-edit-#{board.id}" do %>
      <%= icon 'fa', 'pen' %>
    <% end %>
  </td>
  <td>
    <%= link_to board_path(board), id: "button-delete-#{board.id}", method: :delete, data: {confirm: t("defaults.delete_check")} do %>
      <%= icon 'fas', 'trash' %>
    <% end %>
  </td>
</tr>